
@media screen and (max-width: 600px) {
    .p-mo-0{
        padding: 0px;
    }
    .nav-brand-mo{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 16px 24px;
        border-bottom: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
        background: var(--Grayscale-White, #FFF);
        box-shadow: 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.04), 0px 20px 13px 0px rgba(0, 0, 0, 0.04), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.03), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.02);
    }
    .header .navbar-nav {
        gap: 32px;
        text-align: center;
    }
    .navbar-expand-lg {
        padding: 0px 0px;
    }
    .navbar-collapse {
        flex-grow: 1;
        flex-basis: 100%;
        align-items: center;
        height: 550px;
        overflow: overlay;
        padding: 40px;
        padding-bottom: 40px;
    }
    .nav-link {
        color: var(--Grayscale-Near-Black, #0E0E0E);
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        padding: 0px 0px;
    }
    .right-side-menu{
        justify-content: center;
        padding-top: 32px;
    }
    .dropdown-menu.show {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        background: var(--Grayscale-200---Near-White, #FAFAFA);
        border: 0px;
        width: 100%;
        box-shadow: none;
    }
    .dropdown-menu-curency .dropdown-item {
        color: var(--Grayscale-Near-Black, #0E0E0E);
        text-align: center;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        padding: 0px 0px;
        margin-bottom: 0px;
    }
    .dropdown-menu-curency .dropdown-item.active{
        color: var(--Primary, #005928);
        background: transparent;
    }
    
    .category-img-link .dropdown-menu.show {
        display: grid;
        grid-template-columns: 128px 128px 128px 128px;
    }
    .category-img-link .dropdown-menu {
        position: absolute;
        margin-top: 0.5rem;
    }
    .category-img-link ul {
        column-count: 3;
        padding: 9px 9px;
        border-radius: 0px;
        overflow: scroll;
    }
    .category-img-link li{
        margin: 0px 20px;
    }
    
}
@media screen and (max-width: 600px) {
    .price-section {
        height: 516px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    .col-price-content h1 {
        color: var(--Grayscale-White, #FFF);
        text-align: center;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.64px;
        text-transform: capitalize;
        margin-bottom: 24px;
    }
    .col-price-content p {
        color: var(--Grayscale-300---Lightest, #F1F1F1);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        padding: 0px 6px;
    }
    .price-card p {
        color: var(--Grayscale-Functional-Success-Green, #0D990D);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 24px;
    }
    .row-width{
        width: 358px;
        overflow: scroll;
    }
    .row-card.row {
        display: flex;
        width: 4000px;
        overflow: scroll;
        gap: 24px;
        justify-content: flex-start;
        align-items: center;
        padding-left: 17px;
        padding-right: 20px;
        padding-top: 10px;
    }
    .price-card .btn {
        border: 1px solid rgba(55, 164, 79, 0.30);
        background: rgba(55, 164, 79, 0.10);
        display: flex;
        width: 262px;
        height: 56px;
        padding: 16px 18px
    }
    .row-card .card {
        display: flex;
        padding: 24px 24px;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;
        border: 2px solid var(--Grayscale-300---Lightest, #F1F1F1);
        background: var(--Grayscale-200---Near-White, #FAFAFA);
        border-radius: 0px;
        margin: auto;
        margin-bottom: 24px;
        width: 300px;
        height: 266px;
        max-width: 100%;
    }
    .rowcredit h5{
        color: var(--Core-900---Near-Black, #141414);
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 0px;
    }
    .rowcredit {
        margin-bottom: 14px;
    }
    .btn-purchase {
        width: 254px;
        max-width: 100%;
        margin: auto;
        margin-top: 24px;
    }
    .credit-packeg{
        padding: 40px 0px;
    }
    .rowcredit h1 {
        color: var(--Primary, #005928);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 8px;
    }
    .rowcredit p {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 0px;
        padding: 0px 40px;
    } 
    .custom-price {
        border-radius: 8px;
        background: var(--Grayscale-200---Near-White, #FAFAFA);
        padding: 40px 0px;
    }
    .custom-from input {
        color: var(--Grayscale-800---Darkest, #434343);
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        display: flex;
        height: 54px;
        padding: 16px 24px 16px 32px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 0px;
        margin: auto;
        margin-bottom: 24px;
        width: 327px;
        max-width: 100%;
      }
      .custom-from .btn {
        width: 327px;
        max-width: 100%;
        margin: auto;
      }
      .custom-price h2 {
        color: var(--Primary, #005928);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 8px;
      }
    .Rewarded-for-loyalty .row {
        margin-bottom: 40px;
    }   
    .rewarded-title h1 {
        color: var(--Primary, #005928);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
    }
    .rewarded-title {
        width: 605px;
        max-width: 100%;
        margin: auto;
        margin-bottom: 24px;
        padding: 0px  18px;
    }
    .modal-body div {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
    .modal-content {
        border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
        background: var(--Grayscale-White, #FFF);
        box-shadow: 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.04), 0px 20px 13px 0px rgba(0, 0, 0, 0.04), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.03), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.02);
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        border-radius: 0px;
    }
    
    .Rewarded-for-loyalty{
        padding: 40px 0px 0px;
    }
    .Rewarded-for-loyalty .card {
        border-radius: 0px;
        border: 0px;
        width: 262px;
        height: 256px;
        max-width: 100%;
        margin: auto;
        margin-bottom: 40px;
    }
    .do-hove-question {
        display: flex;
        padding: 24px 24px;
        background: var(--Grayscale-200---Near-White, #FAFAFA);
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        margin: 24px 0px 0px;
        gap: 24px;
        flex-direction: column;
    }
    .do-hove-question div {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }
    .do-hove-question .btn-brder-green {
        border: 1px solid rgba(55, 164, 79, 0.30);
        background: rgba(55, 164, 79, 0.10);
        display: flex;
        height: 56px;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 0px;
        width: 327px;
    }
    .do-hove-question .btn{
        width: 327px;
        max-width: 100%;
    }
        
    .home-banner-section .bg-image{
        position: unset;
    }
    .home-banner-section {
        padding: 0px;
        margin-top: 5rem;
        height: auto;
    }
    .home-banner-content{
        left: 0px;
        position: relative;
        padding: 0px;
        height: auto;
    }
    .home-banner-box {
        display: flex;
        padding: 24px;
        border: 0px;
        text-align: center;
    }
    .form-flex {
        display: flex;
        gap: 8px;
        flex-direction: column;
        width: 327px;
        max-width: 100%;
        margin: auto;
    }
    .searchimgpu-home {
        position: relative;
        width: 100%;
        margin: auto;
    }
    .searchimgpu-home input {
        display: flex;
        width: 363px;
        max-width: 100%;
        padding: 16px 8px 16px 46px;
        align-items: center;
        gap: 16px;
        border: 0px;
        color: var(--Grayscale-600---Dark, #8A8A8A);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
    .searchimgpu-home ::after {
        content: "";
        background: url(../media/Button.svg) no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        left: 14px;
        top: 17px;
        width: 24px;
        height: 24px;
    }
    .searchimgpu-home .btn {
        background: var(--Primary, #005928);
        box-shadow: 0px 1px 2px 0px rgba(27, 62, 14, 0.25), 0px 0px 0px 1px #0E7413 inset, 0px 1px 1px 1px rgba(255, 255, 255, 0.25) inset, 0px -1px 1px 1px rgba(62, 170, 35, 0.25) inset;
        display: flex;
        height: 56px;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        max-width: 100%;
    }
    .home-banner-box h1 {
        color: var(--Primary, #005928);
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.64px;
        text-transform: capitalize;
        margin-bottom: 16px;
    }
    .most-poppural {
        padding: 40px 0px;
        background: var(--Grayscale-200---Near-White, #FAFAFA);
    }
    .most-poppural .div-bg-colr {
        background: var(--Grayscale-200---Near-White, #FAFAFA);
        padding: 0px 19px;
    }    
    .most-popoular-title h1 {
        color: var(--Primary, #005928);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 8px;
    }
    
    .most-popoular-title p {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 0px;
    }
    .tab-menu{
        margin-bottom: 24px;
    }    
    .nav-pills .nav-item{
        width: 50%;
        border: .5px solid var(--Primary, #005928);
    }
    .nav-pills {
        border: .5px solid var(--Primary, #005928);
        background: var(--Grayscale-White, #FFF);
        width: 327px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin: auto;
        margin-bottom: 24px;
    }
    .nav-pills .nav-item .nav-link {
        color: var(--Primary, #005928);
        text-align: center;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        padding: 8px 40px;
        border-radius: 0px;
        width: 100%;
    }
    .img-fluid-flter .filter-box {
        display: flex;
        width: 324px;
        flex-wrap: wrap;
        gap: 24px;
        max-width: 100%;
        margin: auto;
        text-align: center;
    }
    .filter-box img{
        max-width: 100%;
    }
    .filter-box img {
        max-width: 100%;
        height: 202px;
        width: 327px;
        object-fit: cover;
    }
    .tab-menu ul {
        padding-left: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 361px;
        max-width: 100%;
        margin: auto;
        overflow: hidden;
        margin-left: 2px;
    }
    .tab-menu li{
        width: 49%;
        border: .5px solid var(--Primary, #005928);
        overflow: hidden;
    }
    .active-a{
        background: var(--Primary, #005928);
        color: #fff !important;
    }
    .tab-menu li a{
        color: var(--Primary, #005928);
        text-align: center;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        text-decoration: none;
        padding: 21px 48px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: anchor-center;
    }
    .tab.tab-active{
        display: block;
    }
    .tab{
        display: none;
    }
    .btn-wrap button {
        background: var(--Primary, #005928);
        box-shadow: 0px 1px 2px 0px rgba(27, 62, 14, 0.25), 0px 0px 0px 1px #0E7413 inset, 0px 1px 1px 1px rgba(255, 255, 255, 0.25) inset, 0px -1px 1px 1px rgba(62, 170, 35, 0.25) inset;
        width: 36px;
        height: 36px;
        border: 0px;
    }
    .tab-container .btn-wrap{
        display: flex;
        gap: 24px;
        width: 100px;
        margin: auto;
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .most-poppural .btn {
        width: 178px;
        max-width: 100%;
        margin: auto;
        margin-top: 0px;
    }
    .most-poppural .btn {
        width: 263px;
        max-width: 100%;
        margin: auto;
        margin-top: 0px;
    }
    
    .price-creator-section {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0px 40px;
    }
    .pricing-content {
        padding: 40px 10px 0px 10px;
        display: flex ;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        height: auto;
    }
    .price-creator-section::after {
        content: "";
        background: url(../media/pricing-top-img.png) no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        left: 0px;
        top: 16px;
        height: 200px;
        width: 277px;
        z-index: -1;
    }
    .price-video video {
        width: 247px;
        height: 206px;
        max-width: 100%;
        margin-top: 5.5rem;
        float: right;
    }
    .price-img-left {
        position: absolute;
        left: -4px;
        width: 160px;
        height: 166px;
        bottom: 32.5rem;
    }
    .price-img-right {
        display: none;
    }
    .pricing-content h2  , .pricing-content h2 span{
        color: var(--Primary, #005928);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 8px;
    }
    .pricing-content p {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 24px;
    }
    .home-gaqs-section {
        padding: 40px 10px;
        background: var(--Grayscale-200---Near-White, #FAFAFA);
        margin-bottom: -9px;
    }
    .home-faqs-title h1 {
        color: var(--Primary, #005928);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 16px;
        text-align: left;
    }

    .home-faqs-title p {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-align: left;
    }
    .home-faqs-title {
        width: 590px;
        text-align: center;
        max-width: 100%;
        margin: auto;
        margin-bottom: 24px;
    }
    .accordion-item button{
        color: var(--Grayscale-Near-Black, #0E0E0E);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -1px;
        text-transform: capitalize;
        padding-right: 43px;
    }
    .accordion-item p{
        color: var(--Grayscale-600---Dark, #8A8A8A);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        padding-right: 32px;
    }
    .accordion-button::after {
        background-image:url(../media/drop-iocn.svg);   
        width: 24px;
        height: 24px;
        margin-right: -27px;
    }
    .accordion-button:not(.collapsed)::after {
        background-image:url(../media/drop-iocn.svg);
        transform: var(--bs-accordion-btn-icon-transform);
    }
    .accordion-item {
        background-color: transparent;
        border: 0px;
        margin-bottom: 24px;
    }
    .accordion-button:not(.collapsed) {
        color: var(--Grayscale-Near-Black, #0E0E0E);
        box-shadow: none;
        background: transparent;
    }
    .accordion-button{
        padding: 0px 0px;
        margin-bottom: 8px;
        background: transparent;
    }
    .accordion-body {
        padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
        padding: 0px 0px;
    }
    .col-question-still {
        display: flex;
        padding: 24px 24px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        border-radius: 40px;
        background: var(--Grayscale-White, #FFF);
    }
    .col-question-still .btn {
        width: 279px;
        max-width: 100%;
        height:54px;
    }
    .unlock-the-plante-img {
        position: static;
        bottom: 32px;
        right: 0px;
        width: 847px;
        height: 634px;
    }
    .home-bottom-setion {
        max-width: 1920px;
        padding: 40px 0px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-bottom-setion::before {
        display: none;
    }
    .unlock-the-planet h2 {
        color: var(--Primary, #005928);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        padding-right: 0px;
        margin-bottom: 8px;
    }
    .unlock-the-planet {
        width: 650px;
        max-width: 100%;
        padding: 0px 11px;
        margin-top: 40px;
    }
    .unlock-the-planet p {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 24px;
    }
    .img-collection::after {
        content: "";
        background: url(../media/tree-img.png) no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: -1.9rem;
        left: -12px;
        width: 242px;
        height: 151px;
        z-index: -1;
    }
    .unlock-the-planet .btn {
        width: 327px;
        max-width: 100%;
        height: 54px;
        padding: 16px 22px;
        margin: auto;
    }
    .img-collection video {
        height: 184px;
        object-fit: cover;
        margin-top: 12px;
        width: 100%;
    }
    .unlock-the-plante-img {
        position: static;
        bottom: 32px;
        right: 0px;
        width: 100%;
        height: auto;
    }
    .circle-div {
        display: flex;
        width: 106px;
        height: 104px;
        padding: 7px 15px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 5px solid #FFF;
        background: #FFD25D;
        position: absolute;
        z-index: 1;
        top: 70px;
        flex-direction: column;
        text-align: center;
        gap: 1px;
        right: 0px;
        left: 82px;
        margin: auto;
    }
    .circle-div h1 {
        color: #1A1A1A;
        text-align: center;
        font-family: "DM Sans";
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 0px;
    }
    .circle-div p {
        color: #1A1A1A;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }
    .img-collection img {
        margin-right: 0px;
        height: 127px;
    }
    
    
    
    
}
@media screen and (max-width: 600px) {
    .about-banner-section .about-banner-content {
        position: relative;
        left: 0px;
        right: 0px;
        width: 827px;
        height: fit-content;
        max-width: 100%;
        margin: auto;
        display: block;
        box-shadow: none;
    }
    .about-banner-section .aboutsu-banner-text {
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: center;
    }
    .what-do {
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }
    .what-content h1 {
        color: var(--Grayscale-White, #FFF);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 24px;
    }
    .what-content p {
        color: var(--Grayscale-300---Lightest, #F1F1F1);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 185.836%;
    }
    .how-do-to {
        padding: 64px 0px 40px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .how-do-to video {
        width: 560px;
        height: 616px;
        position: absolute;
        left: 0px;
        top: 24px;
        z-index: -1;
        height: 281.457px;
        width: 255.786px;
    }
    .how-do-to img {
        height: 412px;
        width: 338px;
        margin-left: 209px;
        width: 154.385px;
        height: 188.247px;
    }
    .how-do-to-content h1 {
        color: var(--Primary, #005928);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: italic;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
    }
    .how-do-to-content {
        width: 692px;
        max-width: 100%;
        margin: auto;
        padding-top: 77px;
        padding: 0px 8px;
        padding-top: 73px;
    }
    .how-do-to::before{
        display: none;
    }
    .how-do-to::after{
        display: none;
    }
    .why-video {
        border: 5px solid #FFF;
        margin-bottom: 0rem;
        width: 277.304px;
        height: 199.772px;
        object-fit: cover;
        margin-left: -6rem;
        margin-top: 6rem;
    }
    .why-we-do img {
        position: absolute;
        right: 0px;
        top: 24px;
        width: 581px;
        height: 483px;
        z-index: -1;
        width: 247.867px;
        height: 205.735px;
    }
    .why-we-do-content h1 {
        color: var(--Primary, #005928);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
    }
    .why-we-do-content {
        width: 650px;
        max-width: 100%;
        margin-top: 22px;
    }
    
    .why-we-do {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 10px;
    }
}
@media screen and (max-width: 600px) {
    .video-content-main .bg-image:not([class*=absolute]) {
        position: unset;
    }
    .video-content-main {
        position: relative;
        padding: 0px 0px;
    }
    .contactus-banner {
        padding: 0px 0px;
        margin-top: 91px;
    }
    .contactus-main {
        display: flex;
        width: 590px;
        padding: 32px 24px;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        background: #fff;
        border-radius: 8px;
        background: var(--Grayscale-200---Near-White, #FAFAFA);
        margin-left: 0px;
        border-radius: 8px;
        background: var(--Grayscale-200---Near-White, #FAFAFA);
    }
    .btn-warp-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin-top: 24px;
        flex-direction: column-reverse;
    }
    .btn-warp-div .btn-success {
        display: flex;
        height: 56px;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        color: #FFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        width: 100%;
        max-width: 100%;
    }
    .btn-warp-div .btnvisite {
        border: 1px solid rgba(55, 164, 79, 0.30);
        background: rgba(55, 164, 79, 0.10);
        height: 56px;
        padding: 16px 32px;
        border-radius: 0px;
        color: var(--Primary, #005928);
        text-align: center;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        display: flex;
        height: 56px;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        max-width: 100%;
    }
    .contaus-sub-main h2 {
        color: var(--Primary, #005928);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 8px;
    }
    .contaus-sub-main {
        margin-bottom: 0px;
    }
    .contactu-bottom h2 {
        color: var(--Base-White, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 24px;
        text-align: center;
    }
    .contactu-bottom {
        height: 222px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .legal-content h2 {
        color: var(--Primary, #005928);
        text-align: center;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.64px;
        text-transform: capitalize;
        margin-bottom: 24px;
    }
    .legal-content h4 {
        color: var(--Grayscale-800---Darkest, #434343);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "DM Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 8px;
    }
    .legal-content p {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 24px;
    }
    .legal-content-main {
    /* background: url(../media/tc-body-bg.png) no-repeat; */
        background: var(--Grayscale-200---Near-White, #FAFAFA);
        background-position: center center;
        background-size: cover;
        padding: 40px 0px 16px;
        border: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
        position: relative;
        z-index: 1;
    }
    .legal-main {
        padding: 0px 0px;
        margin-top: 90px;
    }
    .legal-content {
        width: 1256px;
        margin: auto;
        max-width: 100%;
        padding: 0px 12px;
    }
    .legal-content-main::after {
        content: "";
        background: url(../media/tc-right.png) no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 140px;
        height: 114px;
        z-index: -1;
    }
    .legal-content-main::before {
        content: "";
        background: url(../media/tc-left.png) no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 140px;
        height: 114px;
        z-index: -1;
    }
    
    
}
@media screen and (max-width: 600px) {
    .error-content h2 {
        color: var(--Grayscale-White, #FFF);
        text-align: center;
        font-family: "DM Sans";
        font-size: 156px;
        font-style: normal;
        font-weight: 900;
        line-height: 80%;
        letter-spacing: -3px;
        text-transform: capitalize;
    }
    .error-content h3 {
        align-self: stretch;
        color: var(--Grayscale-White, #FFF);
        text-align: center;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 96%;
        letter-spacing: -0.64px;
        text-transform: capitalize;
        margin: 16px 0px;
    }
    .error-content p {
        color: var(--Grayscale-500---Light, #C7C7C7);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 32px;
    }
    .errormain-page {
        height: 460px;
        display: flex ;
        justify-content: center;
        align-items: center;
        padding: 64px 0px;
        margin-top: 91px;
    }
    .error-content .btn {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }
    .error-content{
        padding: 0px 10px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        border-top: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
        background: var(--Grayscale-White, #FFF);
        padding: 40px 12px 40px;
    }
    .footer-left ul {
        list-style: none;
        padding-left: 0px;
        display: block;
        gap: 36px;
        margin-bottom: 0px;
        flex-direction: column;
        column-count: 2;
    }
    .footer-logo{
       text-align: center;
    }
    .footer-left img {
        width: 239px;
        height: 70px;
        margin: auto;
        margin-bottom: 24px;
    }
    .footer-left ul {
        list-style: none;
        padding-left: 0px;
        display: block;
        gap: 40px;
        margin-bottom: 0px;
        flex-direction: column;
        column-count: 2;
        padding: 0px 17px;
    }
    .footer-left ul li{
        margin-bottom: 16px;
    }
    .footer-right {
        text-align: center;
        margin-top: 24px;
    }
    .footer-details h6 {
        color: var(--Grayscale-Near-Black, #0E0E0E);
        text-align: center;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 200%;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .footer-details p {
        color: var(--Grayscale-700---Darker, #636363);
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        margin-bottom: 5px;
    }
    .footer-bottom-right ul {
        text-align: center;
        display: flex;
        list-style: none;
        gap: 16px;
        margin-bottom: 16px;
        justify-content: center;
        padding-left: 0px;
    }
    .p-copy p {
        color: var(--Grayscale-600---Dark, #8A8A8A);
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: capitalize;
        margin-bottom: 0px;
        text-align: center;
        margin-bottom: 24px;
    }
    .p-copy p a{
        font-size: 14px;
    }
    .p-copy img{
        width: 267px;
        height: 39px;
        margin: auto;
    }
    .footer .col-border {
        border-top: 1px solid #E4E4E4;
        margin-top: 24px;
        padding-top: 16px;
    }
}
